<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput type="text" id="name" formControlName="name">
    <span class="errorField" *ngIf="customValidatorService.isFieldValid(formGroup,'name')">This is required</span>
    <span class="errorField" *ngIf="!customValidatorService.isNameSurnameValid(formGroup,'name')">This is not valid</span>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cognome</mat-label>
    <input matInput type="text" id="surname" formControlName="surname">
    <span class="errorField" *ngIf="customValidatorService.isFieldValid(formGroup,'surname')">This is required</span>
    <span class="errorField" *ngIf="!customValidatorService.isNameSurnameValid(formGroup,'surname')">This is not valid</span>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Età</mat-label>
    <input matInput type="number" id="age" formControlName="age">
    <span class="errorField" *ngIf="customValidatorService.isFieldValid(formGroup,'age')">This is required</span>
    <span class="errorField" *ngIf="!customValidatorService.isAgeValid(formGroup,'age')">This is not valid</span>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="booleanButtonSubmit">Invia</button>
</form>

<ul *ngFor="let persona of persone;  let i = index">
  <li>
    {{persona.name}}
    {{persona.surname}}
    {{persona.age}}
    <button mat-raised-button color="primary" type="button" (click)="removePersona(i)">Elimina</button>
  </li>
</ul>
